<%= render partial: 'shared/navbar' %>
<div class="container">
  <div class="makePostForm">          
    <%= form_for @article, url: articles_path do |f| %>
    <div>
      <%= f.label :title %> <br>
      <%= f.text_area :title, class:"titleTxt", :maxlength => 50 %> <br>
    </div>
    <div>
      <%= f.label :text %> <br>
      <%= f.text_area :text, class: "tinymce" %>
      <%= tinymce %> <br>
    </div>  
    <%= f.submit "Create Article", class:"btn btn-warning" %> <br>

    <% end %>
  </div>
</div>