
<%= stylesheet_link_tag 'postStyle' %>
<div class="container">
  <div class="makePostForm">
    <div class="headline">Make new post </div
      <div class="standard-box">
       <%= form_with(model: @post, url: create_post_posts_path, local: true) do |f| %>
          <div class="two-columns">
            <div class="col">
              <div class="headline">Subject </div>
                <%= f.text_area :title, class:"titleInput", :maxlength => 30 %> 
              </div>
    
            <div class="col">
              <div class="headline">Category </div>
                <%= f.select :category, ['Gaming', 'News', 'Off-topic'], {}, { class:"titleInput" } %>
              </div>
            </div>
            <div class="ctr">
              <%= f.label :content %>
              <%= f.text_area :content, class:"titleInput", :maxlength => 150 %> <br>

            </div>
          <%= f.submit "Create post", class:"btn btn-warning" %> <br>
        <% end %>
      </div>
    </div>
  </div>
</div>