  <!DOCTYPE html>
  <html>
  <head>
    <title>My App</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' %>

   <%= tinymce_assets %>
   <script type="text/javascript" src="/assets/tinymce.js"></script>

    <%= yield(:head) %>
  </head>
  <body>
    <%= yield %>
  </body>
  </html>
